# Lab 3: Data processing & Linear models
Goals:
* Load, explore ands split data
* Use the scikit-learn library to train models (linear regression in this case)

## Load the real estate evaluation dataset
The data records the historical real estate evaluation collected from Sindian District, Taipei City
Source: https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set

### Load the dataset
* import ***pandas*** library
* read data from ***.csv*** file
* assign ***df*** as an object containing the data

In [8]:
import pandas as pd
df = pd.read_csv("data\Real estate valuation data set.csv")

### Explore the data

***.head(n)*** method return the first n rows

**Default**: n = 5

In [18]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

retrieve the data length (number of samples)

In [9]:
len(df)

414

read data from a ***head***

In [12]:
df["Y house price of unit area"]

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64